body {
  background-color: #eee;
  color: #121212;
  font-family: 'Helvetica', sans-serif;
}

header {
  background-color: #ddd;
  padding: 8px;
  border-bottom: 2px solid deepskyblue;
  margin-bottom: 16px;
}

header h1 {
  text-align: center;
}

main#images {
  max-width: 100em;
  margin: 0 auto;
  text-align: center;
}

main#images div.img {
  display: inline-block;
  background-image: url('https://emojipedia-us.s3.amazonaws.com/thumbs/160/twitter/141/thinking-face_1f914.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  /* Fiddle with these to change image sizes */
  height: 256px;
  width: 256px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 0.5s;
}

main#images div.img:hover {
  box-shadow: 2px 2px 2px #000e;
  transform: scale(1.1);
}

aside#modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000c;
  width: 60vw;
  height: 70vh;
  transition: all 0.5s;
  border-radius: 4px;
}

aside#modal a {
  display: block;
  width: 100%;
  padding: 4px 0;
  background-color: #a00c;
  color: #efefef;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.2s;
}

aside#modal a:hover {
  background-color: #a00f;
}

aside#modal div#modal-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

aside#modal.hidden {
  top: -100vh;
}

aside#modal.shown {
  top: 10%;
  z-index: 500;
}

aside#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0005;
  transition: opacity 0.5s;
  z-index: 450;
}

aside#cover.hidden {
  opacity: 0;
  pointer-events: none;
}

aside#cover.shown {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 1280px) {
  aside#modal {
    width: 90vw;
    height: 80vh;
  }
  aside#modal a {
    font-size: 2em;
  }
}
